.intestazione {
    height: 200px;
    background-image: url(img/pattern.png);
    background-color: aqua;
  }

  #logo{
      height: 100px;
      padding-top:100px;
    }

    #titolo {
        color: black;
        font-size: 150% ;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }
    